<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        body {background-image: url(images/form-background.png);}
    </style>
</head>
<body>
    <div class="error-content">
        404 error! Page not found
        <a class="redirect-link" href="/">
            return to home page
        </a>
    </div>
</body>
</html>