<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Canvas-to-Notion Integration</title>
        <link rel="stylesheet" href="/style.css">
        <style>
            body {
                background-image: url(images/gradient-back.png);}

        </style>
    </head>


    <body>
        <div class="wrapper">
            <div class="greeting-content">
                <h1> Start the semester right </h1>
                <p>Create your assignment master list</p>
                <a class="start-btn" href="/submit-cal-link">
                    start now
                </a>
            </div>
            <div class="example-image">
                <img src="/images/example.png" alt="">
            </div>
        </div>
    </body>
</html>